<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head",{title:"Listas de Producto"})%>

  <body class="body-list">

    <main class="main-list">
      <h2 class="titulo-lista">Lista de Productos</h2>
      <table class="table table-dark table-striped">

        <% products.forEach(p => { %>
          <tr>
            <th scope="row">1</th>
            <td><img class="img-product" src="../../../images/<%= p.image %>"></td>
            <td><%= p.name %></td>
            <td><%= p.price %></td>
            <td><%= p.description %></td>

            <td>
              <div class="btn-group" role="group">
                <a href="/admin/editar-producto/<%= p.id %>" class="btn btn-warning d-inline-block">Editar</a>
                <a href="/admin/eliminar-producto/<%= p.id %>" class="btn btn-danger d-inline-block">Eliminar</a>
              </div>

            </td>
          </tr>
          <% }) %>

      </table>
    </main>

    <%- include('../partials/dashboard') %>
  </body>

</html>